<!DOCTYPE html>
<html lang="en">
  <head>
    <title>X-ray Bürgers</title>

    <script src="/js/js_script.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <div class="wrapper">
      <div id="siteHeader" class="header">
	  <img :src="image">
	  <h1 class="header-text">{{title}}</h1>
      </div>

      <h3>Välj Meny</h3>
      <div id="burgerMenu" :class="'content'">
	  <div v-for="burger in burgers" :class="'menuItem'">
	    <h3>{{burger.name}}</h3>
	    <img :src="burger.img_fp">
	    "{{burger.desc}}"
	    <div class="aller">
	      <p>kcal: {{burger.kcal}}</p>
	      <p>Allergier</p>
	      <ul>
		<li v-for="allergie in burger.allergies">{{allergie}}</li>
	      </ul>
	    </div>
	  </div>
      </div>


      <div id="order" class="customer">
	<div id="customer" v-if="orderOn">
	  <button v-on:click="cancelOrder()">Avbryt</button>
	  <h3>Beställning</h3>
	  <div v-for="info in customer">
	    <label for="info.name">{{info.name}}</label><br>
	    <input :type="info.type" :id="info.name" :placeholder="info.def"/></br>
	  </div>

	  <h4>Betalningsmetod</h4>
	  <select id="payment" name="pay">
	    <option v-for="opt in payOpt">{{opt}}</option>
	  </select>

	  <h4>Kön</h4>
	  <div v-for="g in gender">
	    <input type="radio" name="gender" :value="g">
	    {{g}}
	  </div>

	</div>
	<button v-on:click="makeOrder()">{{btnTitle}}</button>
      </div>
    </div>
    <footer>
      Crimson Burgers ltd 2020
    </footer>

    <script src="/js/vue_order.js"></script>
    <script src="/js/vue_script.js"></script>
    <script src="/js/vue_header.js"></script>
  </body>
</html>
